.attribution { font-size: 11px; text-align: center; color: white; margin-top: 1rem; }
    .attribution a { color: hsl(150, 100%, 66%); }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Manrope', sans-serif;
    }

    body {
        background-color: hsl(218, 23%, 16%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .card-container {
        background-color:hsl(217, 19%, 24%) ;
        width:85vw;
        margin-top: 10%;
        margin-bottom: 2rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

    }

    h3{
        color: hsl(150, 100%, 66%);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 12px;
        padding: 2rem 2rem;
    }

    h1 {
        color: white;
        font-size: 24px;
        line-height: 1.5rem;
        padding:1rem;
        text-align: center;
    }

    .divider {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .dice-container {
        background-color: hsl(150, 100%, 66%);
        border-radius: 50px;
        padding: 1.25rem 1.25rem 1rem 1.25rem;
        border:none;
        align-content: center;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        position: absolute;
        bottom:-30px;
        }

    .dice-container:hover {
        box-shadow: 1px 1px 48px -6px rgba(82,255,168,0.9);
-webkit-box-shadow: 1px 1px 48px -6px rgba(82,255,168,0.9);
-moz-box-shadow: 1px 1px 48px -6px rgba(82,255,168,0.9);
    }